@media screen and (max-width: 576px) {
    .navbar-container,
    .banner-container,
    .tutorial-card-container
    {
        max-width: 100%;
    }
    /* navbar section start */
    .navbar-container i{
        display: block;
    }
    .navbar-container h1{
        font-size: 1.5rem;
    }
    .nav-content ul,
    .navbar-container button
    {
        display: none;
    }
    /* navbar section end */
    /* banner section start */
    .banner-container{
        flex-direction: column;
    }
    .banner-left-content h1{
        font-size: 2rem;
        width: 100%;
    }
    .banner-left-content p{
        width: 100%;
    }
    .banner-right-content img{
        width: 100%;
    }
    .btn-mulai{
        margin-bottom: 10px;
    }
    /* banner section end */

    /* tutorial card section start */
    .tutorial-card-content{
        grid-template-columns: 1fr;
    }
    /* tutorial card section end */

}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar-container,
    .banner-container,
    .tutorial-card-container{
        max-width: 100%;
    }
    /* navbar section start */
    .navbar-container h1{
        font-size: 1.2rem;
    }
    .navbar-container i{
        display: none;
    }
    .nav-content li a{
        font-size: 0.8rem;
    }
    /* navbar section end */

    /* navbar section start */
    .banner-left-content h1{
        font-size: 2rem;
        width: 150%;
    }
    .banner-left-content p{
        width: 150%;
    }
    .btn-mulai{
        margin-bottom: 10px;
    }
    /* navbar section end */

    /* tutorial card section start */
    .tutorial-card{
        height: 27rem;
    }
    .tutorial-card h2{
        font-size: 1.6rem;
    }
    .tutorial-card img{
        width: 100%;
    }
    /* tutorial card section end */

}


























