/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* similar text */



/* navbar section styles start */
.navbar-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    padding: 10px 20px;
}
.navbar-container h1{
    font-size: 2rem;
    font-weight: 700;
}
.navbar-container button{
    padding: 10px 25px;
    border-radius: 8px;
    background-color: rgb(255, 216, 3);
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.nav-content ul{
    display: flex;
}
.nav-content ul li{
    list-style: none;
}
.nav-content li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 30px;
}
/* navbar section styles end */


















